<div class="bootstrap-wrapper">
	<div class="container">
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="../../../assets/logo.png" alt="">
                </div>
                <h1 class="text-center">Register here</h1>
                <form>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>First Name*</mat-label>
                        <input matInput placeholder="Enter here ...">
                        <mat-hint>Lisandro</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Last Name*</mat-label>
                        <input matInput placeholder="Enter here ...">
                        <mat-hint>Djone</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Username*</mat-label>
                        <input matInput placeholder="Enter here ...">
                        <mat-hint>mr.username</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Email*</mat-label>
                        <input type="email" matInput placeholder="Enter here ...">
                        <mat-hint>your.email@domain.com</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Password*</mat-label>
                        <input type="password" matInput placeholder="Enter here ...">
                        <mat-hint>#Pssword01;ç</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Phone number</mat-label>
                        <input type="number" matInput placeholder="Enter here ...">
                        <mat-hint>+2130777885566</mat-hint>
                    </mat-form-field>

                    <div class="container text-center">
                        <button mat-raised-button color="primary" style="margin-right: 20px;">Register</button>
                        <button mat-raised-button color="accent">Clear</button>
                    </div>
                </form>
			</div>
		</div>
	</div>
</div>