<mat-card>
    <h3>You Profile</h3>
    <mat-card-content>Content</mat-card-content>
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="container text-center">
                <img class="profile-image" src="https://www.pinclipart.com/picdir/middle/157-1578186_user-profile-default-image-png-clipart.png" alt="">
                <h3>You Name</h3>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                <table class="tabel">
                    <tr>
                        <td>UserName</td>
                        <td>Abdelaaziz</td>
                    </tr>
                </table>        
                </div>
            </div>
        </div>
    </div>
    <mat-card-actions>
        <button mat-raised mat-button color="primary">Update</button>
        <button mat-button>Cancel</button>
      </mat-card-actions>
</mat-card>