
<mat-toolbar color="primary">
    <a href="javascript:void(0)" routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
    </a>
    <span>ExamPortal</span>
    <span class="example-spacer"></span>
    <a href="javascript:void(0)" routerLink="/sginin" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>login</mat-icon>
    </a>
    <a href="javascript:void(0)" routerLink="/sginup" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>how_to_reg</mat-icon>
    </a>
</mat-toolbar>